<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Button</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Canecas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated="true" placeholder="Pesquise o seu produto" color="dark" mode="ios"></ion-searchbar>

  <ion-list>
    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/canecanaruto.jfif" />
      </ion-thumbnail>
      <ion-label>
        <h2>Caneca Naruto</h2>
        <p>A prova de raposas</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/canecaone.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>Caneca One Piece</h2>
        <p>Perfeita para longas viagens</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
      <ion-badge>R$60,00</ion-badge>
    </ion-item>

    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/canecatg.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>Caneca Tokyo Ghoul</h2>
        <p>Aceita apenas café</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/canecadeat.webp" />
      </ion-thumbnail>
      <ion-label>
        <h2>Caneca Death Note</h2>
        <p>Não testada contra Shinigamis</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/canecadragon.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Caneca Dragon Ball</h2>
        <p>Presenteada pelo mestre Karin</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/canecajojo.jfif" />
      </ion-thumbnail>
      <ion-label>
        <h2>Caneca JoJo</h2>
        <p>Possui características bizarras</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/canecaichigo.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>Caneca Ichigo</h2>
        <p>BANKAI</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-item>
    

  </ion-list>
</ion-content>