<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Button</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Acessórios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar animated="true" placeholder="Pesquise o seu produto" color="dark" mode="ios"></ion-searchbar>

  <ion-list>
    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/chapeuaot.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Chapeu Attack on Titan</h2>
        <p>Caçar Titans precisa de estilo</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/brincokimetsu.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Brincos Hanafuda</h2>
        <p>Ideal para dias de sol</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/colarbc.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Colar Black Clover</h2>
        <p>100% testado contra magia</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/anelnaruto.jfif" />
      </ion-thumbnail>
      <ion-label>
        <h2>Anel da Folha</h2>
        <p>Usavel apenas para Hokages</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/bonejotaro.jpeg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Bone do Jotaro</h2>
        <p>yare yare daze</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="https://ae04.alicdn.com/kf/Hc197217688b1482780a2c0f82a3bee350.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Oculos Satoru Gojo</h2>
        <p> Azul + Vermelho = Roxo</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item line="full" color="dark" class="borda">
      <ion-thumbnail slot="start">
        <img src="../../assets/img/brincoberserk.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Brinco Padrão Berserk</h2>
        <p>Tão estilosos quanto um estigma</p>
      </ion-label>
      <ion-button expand="block" slot="end" color="blackzinho">
        <ion-icon slot="icon-only" name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-item>
    

  </ion-list>
</ion-content>